# Files
/.editorconfig export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/README.md export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/phpcs.xml.dist export-ignore
/phpunit.xml.dist export-ignore
/phpstan.neon export-ignore

# Folders
/tests export-ignore
/.wordpress-org export-ignore
/.github export-ignore
